[bumpversion]
current_version = 1.0.2
commit = True
tag = True

[bumpversion:file:VERSION]
search = {current_version}
replace = {new_version}

[bumpversion:file:.github/workflows/container_pipeline.yml]
search = # Version: {current_version}
replace = # Version: {new_version}

[bumpversion:file:.github/workflows/manage_pipelines.yml]
search = # Version: {current_version}
replace = # Version: {new_version}

[bumpversion:file:.github/workflows/pages_pipeline.yml]
search = # Version: {current_version}
replace = # Version: {new_version}

[bumpversion:file:.github/workflows/python_pipeline.yml]
search = # Version: {current_version}
replace = # Version: {new_version}

[bumpversion:file:.github/workflows/python_web_pipeline.yml]
search = # Version: {current_version}
replace = # Version: {new_version}

[bumpversion:file:.github/workflows/services_pipeline.yml]
search = # Version: {current_version}
replace = # Version: {new_version}

[bumpversion:file:.github/workflows/test_workflow.yml]
search = # Version: {current_version}
replace = # Version: {new_version}
